@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2>Lista dei Ruoli</h2>

<table class="table">

    <tr>
        <th>
            @Html.ActionLink("Crea Role", "Create", "Roles")
        </th>
        <th>
            @Html.ActionLink("Assegna un Ruolo ad un Utente", "RegisterRole", "Account")
        </th>
        
    </tr>
</table>
    

    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            </tr>
        }

    </table>
